body {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-accordion {
    align-items: center;
    color: #111;
    display: flex;
    font-size: 1.25rem;
    gap: .33rem;
    height: 0;
    justify-content: center;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    user-select: none;

    &.show {
        height: auto;
        margin: 0 0 2rem;
        opacity: 1;
    }
}

.ice {
  background: url('../public/bg/ice.jpg');
  height: 100vh;
  left: 0;
  opacity: .33;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#cracked-ice {
  animation: iceChange 8s infinite alternate ease-in-out;
}

@keyframes iceChange {
  0% {
    opacity: .33;
    transform: rotate(180deg) scale(1);
  }
  100% {
    opacity: .66;
    transform: rotate(180deg) scale(1.125);
  }
}

#count {
    &:not([data-count='1']):after {
      content: 's';
    }
}

#otd {
    padding: .625rem .25rem;
}

.goal-count {
    font-size: 2rem;

    &:before {
        font-size: .875rem;
        margin-right: 2px;
    }
}

.indexer {
    opacity: .15;
}

#wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  max-width: 1024px;
  padding: 0 .5rem;
  position: relative;
}

#search-text-1,
#search-text-2:focus,
#search-text-3:focus {
  height: auto;
  margin-top: 0;
  max-width: 325px;
  padding: .325rem .5rem;

}

#search-text-3 + div {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    width: auto;
}

#search-text-1:active + input,
#search-text-1:focus + input,
#search-text-2:active + input,
#search-text-2:focus + input {
  height: auto;
  margin-top: 0;
  max-width: 75px;
  padding: .325rem .5rem;
  text-align: center;
}

#advanced {
    select {
        background-color: transparent;
        border-color: #111;
        font-size: 1.25rem;
        font-weight: bold;
        min-width: 3.5rem;
        padding: .25rem;
        user-select: none;
    }
}

.accordion-item:not([data-season='NHL Regular']) .goal-count span:first-of-type {
    display: none;
}

.goal-siren {
    img {
        height: auto;
        width: 36px;

        @media (min-width: 768px) {
            width: 48px;
        }
    }
}

.type {
    background: radial-gradient(#EF4933 40%, transparent);
    color: #FFD2C7;
    font-size: .875rem;
    letter-spacing: -1px;

    @media (min-width: 768px) {
        font-size: 1.125rem;
    }
}

.logo {
    height: auto;
    width: 36px;

    @media (min-width:768px) {
        width: 60px;
    }
}

.accordion-button {
    box-shadow: none !important;
    font-size: .875rem !important;
    position: relative;
    user-select: none;
    z-index: auto !important;

    @media (max-width:768px) {
        padding: 1rem .625rem !important;
    }

    @media (min-width:768px) {
        font-size: 1.125rem !important;
    }

    &:hover {
        background: rgb(207, 226, 255) !important;
    }

    &:before {
        background: rgb(207, 226, 255);
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: margin-right 350ms ease;
        width: 2rem;
        z-index: -1;
    }

    &:hover:before,
    &[aria-expanded='true']:before {
        margin-right: -2rem;
    }
}

[data-float='1'],
[data-float='2'],
[data-float='3'],
[data-float='4'],
[data-float='5'],
[data-float='6'],
[data-float='7'],
[data-float='8'],
[data-float='9'] {
    &:after {
        content: '0';
    }
}

[data-season='NHL Regular'] .goal-count {
  color: #F34133;
}

[data-season='All Star'] .goal-count:before {
    content: 'All Star';
}

[data-season='World Championships'] .goal-count:before {
    content: 'Worlds';
}

[data-season='KHL'] .goal-count {
    color: #0033A0;

    &:before {
        content: 'KHL';
    }
}

[data-season='Olympics'] .goal-count:before {
    content: 'Olympic';
}

[data-season='NHL Playoffs'] .goal-count {
    color: #C28E4D;

    &:before {
        content: 'Playoff';
    }
}

[data-season='World Cup'] .goal-count:before {
    content: 'World Cup';
}

.accordion {
    div {
      margin: 0;
      width: auto;
    }
}


form button {
  backface-visibility: hidden;
  background: #FFF;
  border: 0;
  border-radius: .375rem;
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.3;
  max-width: 100px;
  min-height: 40px;
  min-width: 40px;
  overflow: hidden;
  padding: .625rem .25rem;
  position: relative;
  transition: transform .2s;
  user-select: none;
  width: 100%;

  &:hover,
  &:active {
    background: #C8102E;
    color: #EFEFEF;
    box-shadow: 0 .25rem .75rem #111;
    transform: scale(1.05);
  }

  &[disabled] {
    background: initial;
    box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
    color: initial;
    opacity: .25;
    transform: none;
  }

    &.cup {
        background: #E0E0E0 url('../public/bg/cup.jpg') no-repeat scroll center / 100%;
        border: 1px solid #E0E0E0;
        color: #111;
        font-family: Georgia, serif;
        letter-spacing: 1px;
    }

    &.multi-logo {
        background: #98012E;
        background-image: linear-gradient(-75deg, #062D60 48%, #98012E 49%);

        span {
            align-items: center;
            display: flex;
            justify-content: center;
            min-height: 40px;
            overflow: hidden;
            position: relative;
            width: 100%;

            &:first-of-type:after {
                bottom: -.875rem;
                color: #FFF;
                content: "|||||";
                font-size: 1.125rem;
                left: 0;
                letter-spacing: 2px;
                pointer-events: none;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }
    }

    &[title="Black Reverse Retro"] {
        background: #111;

        &:hover {
            box-shadow: 0 .25rem .75rem #132660;
        }
    }

    &[title="Capitol"] {
        background: #111;

        &:hover {
            box-shadow: 0 .25rem .75rem #CE8946;
        }
    }

    &[title="Red Reverse Retro"] {
        background: #C81020;
    }

    &[title="Screagle"] {
        background: #FFF;

        &:hover {
            box-shadow: 0 .25rem .75rem #132660;
        }
    }

    &[title="Capitals"] {
        background: #C81020;
        background-image: linear-gradient(-75deg, #C81020 30%, #FFF 31%, #FFF 69%, #C81020 70%);
    }

    &[title="Throwback Third"] {
        background: #C8102E;
        background-image: linear-gradient(-75deg, #E13A3E 28%, #FFF 29%, #FFF 71%, #E13A3E 72%);
        color: #FFF;
        font-size: 18px;
    }

    &[title="Navy Third"] {
        background: #062D60;
        background-image: linear-gradient(#FFF 6%, #062D60 7%, #062D60 90%, #C8102E 91%);
    }

    &[title="Reset Filters"] {
        background: transparent;
        box-shadow: none;

        &:hover,
        &:active {
            color: #111;
            text-decoration: underline;
        }
    }

    &[title='Random Goal'] {
        width: 100px;
    }

    &[title*="NHL"] {
        &:hover,
        &:active {
            background: rgba(0,0,0,.8);
        }
    }
}

.buttons-group {
  max-width: 500px;

    @media (max-width: 480px) {
        button {
            font-size: .625rem
        }
    }

    > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }

    @media (min-width:768px) {
        flex-direction: column;
        max-width: none;

        > div {
            flex-direction: row;
        }
    }
}

.coach-button:nth-child(odd) {
    background: #C8102E;
    color: #FFF;

    &:hover {
        background: #FFF;
        color: #111;
    }
}

.jersey-button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;

    &:hover {
        box-shadow: 0 .25rem .75rem #C8102E;
    }
}

.jersey-logo {
    max-width: 2.25rem;
}

.league-buttons {
    button {
        align-items: center;
        display: flex;
        gap: .25rem;
        justify-content: center;
    }

    img {
        max-width: 1rem;
    }
}

[src="/jerseys/capitals.svg"],
[src="/jerseys/throwback.svg"] {
    max-width: 2.25rem;
}

[src="/jerseys/brick.svg"],
[src="/jerseys/navy.svg"] {
    max-width: 1.5rem;
}

form {
  align-items: center;
  background: rgba(203,236,255,.2);
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(75,75,75,.2);
  cursor: default !important;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  justify-content: center;
  margin: 0 auto 2rem;
  max-width: 1024px;
  padding: 1rem 2rem;
  position: relative;
  user-select: none;
  z-index: 2;

    a {
        color: #111;
    }

    @media (min-width: 768px) {
        > div {
            align-items: center;
            flex-direction: row;
            gap: .75rem;
            justify-content: end;

            &:first-of-type {
                justify-content: space-between;
            }
        }
    }
}

select {
  position: relative;
  z-index: 1;
}

iframe {
    aspect-ratio: 16 / 9;
    background: #111;
    border: 0;
    box-shadow: rgba(255, 255, 255, 0.6) 5px 5px, rgba(255, 255, 255, 0.4) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px;
    height: auto;
    min-height: 0;
    position: relative;
    width: 100% !important;
    z-index: 2;
}

.more {
    color: #C8102E;
}

.body {
  box-shadow: rgba(200, 16, 46, 0.4) -5px -5px, rgba(200, 16, 46, 0.2) -5px -5px, rgba(200, 16, 46, 0.1) -15px -15px;
  position: relative;
  user-select: none;

    &:before {
        content: "";
        cursor: default;
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}

[data-jersey*='Brick'] {
    .body {
        box-shadow: rgba(152, 1, 46, 0.4) -5px -5px, rgba(152, 1, 46, 0.2) -10px -10px, rgba(152, 1, 46, 0.1) -15px -15px;
    }
}

[data-jersey='Capitol'] {
    .body {
        box-shadow: rgba(0, 0, 0, 0.4) -5px -5px, rgba(0, 0, 0, 0.2) -10px -10px, rgba(0, 0, 0, 0.1) -15px -15px;
    }

    iframe {
        box-shadow: rgba(206, 137, 70, 0.4) 5px 5px, rgba(206, 137, 70, 0.2) 10px 10px, rgba(206, 137, 70, 0.1) 15px 15px;
    }
}

[data-jersey*='Dynamo'] {
    .body {
        box-shadow: rgba(0, 51, 160, 0.4) -5px -5px, rgba(0, 51, 160, 0.2) -10px -10px, rgba(0, 51, 160, 0.1) -15px -15px;
    }
}

[data-jersey='Screagle'] {
    .body {
        box-shadow: rgba(6, 45, 96, 0.4) -5px -5px, rgba(6, 45, 96, 0.2) -10px -10px, rgba(6, 45, 96, 0.1) -15px -15px;
    }
}

[data-jersey*='Reverse Retro'] {
    .body {
        box-shadow: rgba(0, 0, 0, 0.4) -5px -5px, rgba(0, 0, 0, 0.2) -10px -10px, rgba(0, 0, 0, 0.1) -15px -15px;
    }

    iframe {
        box-shadow: rgba(200, 16, 46, 0.4) 5px 5px, rgba(200, 16, 46, 0.2) 10px 10px, rgba(200, 16, 46, 0.1) 15px 15px;
    }
}

[data-jersey*='Navy'] {
    .body {
        box-shadow: rgba(6, 45, 96, 0.4) -5px -5px, rgba(6, 45, 96, 0.2) -10px -10px, rgba(6, 45, 96, 0.1) -15px -15px;
    }

    iframe {
        box-shadow: rgba(255, 255, 255, 0.6) 5px 5px, rgba(255, 255, 255, 0.4) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px;
    }
}

.link {
  user-select: all;
}

#search-goal {
  caret-color: #C8102E;
  color: #C8102E;
  font-weight: bold;
  max-width: 125px;
  text-align: center;
  text-indent: .75rem;
}

input {
  position: relative;
  z-index: 1;

    &[placeholder] {
        background: transparent;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        border-top: 0;
        outline: 0;
        padding: 3px;
        width: 100%;
    }

    &[type="number"] {
        font-size: 1.5rem;

        &::placeholder {
            font-weight: 400;
        }
    }

    &[type="text"] {
        caret-color: #C8102E;
        color: #C8102E;
        font-weight: bold;
        height: 0;
        margin-top: -1rem;
        max-width: 0;
        overflow: hidden;
        padding: 0;
        text-transform: uppercase;
        width: 100%;

        &::placeholder {
            font-weight: normal;
            text-transform: none;
        }

        &:not(:placeholder-shown) {
            height: auto;
            margin-top: 0;
            max-width: 325px;
            padding: .325rem .5rem;
        }

        @media (min-width:768px) {
            text-align: left;
        }
    }
}

.hide {
    color: transparent;
    font-size: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -999;

    @media (min-width:768px) {
        margin-right: -1rem;
    }
}
